body
{
  margin: 300px;
  font-family: papyrus;
  color: blue;
  background-color: white;
  text-align: left;
}
h1 {text-align: center;}
nav a {list-style-type: none;
		display: inline;
		font-weight: bold;
		text-align: center;}
p {line-height: 200%;
	font-size: large;}